* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Poppins';
    margin: 15px;
    padding: 15px;
}

header {
    width: 100%;
    height: 100px;
    background-color: rgb(54, 146, 115);
    display: flex;
    align-items: center;
}

.logo {
    width: 50%;
    padding: 10px;
}

.logo a {
    text-decoration: none;
    font-size: 30px;
    color: black;
    font-family: 'fantasy';
    letter-spacing: 3px;
}

nav {
    text-align: right;
    width: 50%;
}

nav a {
    text-decoration: none;
    font-family: 'arial narrow';
    letter-spacing: 2px;
    font-size: 20px;
    color: black;
    padding: 10px;
    margin: 0 1px;
    font-weight: 500;
}

nav a:hover {
    background-color: white;
    color: black;
    padding: 3px 5px;
    margin: 2px 4px;
}

/* .banner-area {
    background-image: url(../images/Coding_Reading_MAth_science.webp);
    background-size: cover;
    height: 100vh;

} */
.banner-area {
    position: relative;
}

.banner-area img {
    width: 100%;
}

/* .banner-area:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    background: red;
    opacity: .5;
    z-index: -1;
    position: absolute;
    top: 0;
} */


.banner-area h2 {
    padding-top: 8%;
    font-size: 50px;
    color: white;
    text-align: center;
    position: absolute;
    top: 0;
}

.first-container,
.second-container,
.third-container {
    padding: 20px;
    border: 1px solid;
    height: 300px;
    background: white;
    margin: 5px 10px 20px 10px;
}

.first-container img,
.second-container img,
.third-container img {
    width: 25%;
    text-align: right;
    float: right;
    padding: 10px;
}

.first-container h3,
.second-container h3,
.third-container h3 {
    text-align: left;
    padding: 5px 0 20px 0;
}

.first-container p,
.second-container p,
.third-container p {
    text-align: justify;

}

.forth-container {
    padding: 20px;
    border: 1px solid;
    height: 100px;
    background: white;
    margin: 5px 10px 20px 10px;
}

.forth-container h3 {
    text-align: left;
    padding: 5px 0 20px 0;
}
 .forth-container p {
    text-align: justify;
} 