* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* @font-face {
  font-family: SourceSans3-Regular;
  src: url(../fonts/Source_Sans_3/static/SourceSans3-Regular.ttf);
}

@font-face {
  font-family: Oswald-Regular;
  src: url(../fonts/Oswald/static/Oswald-Regular.ttf);
}

@font-face {
  font-family: Lato-Regular;
  src: url(../fonts/Lato/Lato-Regular.ttf);
}

@font-face {
  font-family: Montserrat-Regular;
  src: url(../fonts/Montserrat/static/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Roboto-Regular;
  src: url(../assets/fonts/Roboto-Regular.ttf);
} */

/* @import url('/assets/font/Source_Sans_3/SourceSans3-Italic-VariableFont_wght.ttf');
  
  .SourceSans3 {
    font-family: 'Source Sans 3', sans-serif;
  } */

:root {
  --skyblue: #03a6b7;
  --white: #ffffff;
  --red: #c9010f;
}

body,
html {
  height: 100%;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

html,
body,
div,
span,
img,
ol,
ul,
li,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
option,
legend,
label,
table,
th,
td,
tr,
article,
aside,
caption,
figure,
footer,
header,
hgroup,
mark,
nav,
section,
time,
audio,
video {
  margin: 0;
  padding: 0;
  outline: 0;
}

.wrapper {
  height: 100%;
}

img {
  border: none;
  outline: none;
  max-width: 100%;
}

/* img{
    width: 100%;
  } */

label {
  display: inline-block;
  font-weight: normal;
  margin-bottom: 5px;
  max-width: 100%;
}

a {
  outline: none;
  text-decoration: none !important;
  color: #104cba;
}

a img {
  border: none;
}

a:active {
  outline: none;
  text-decoration: none;
  color: #232323;
  opacity: 1;
}

a:focus {
  outline: none;
  text-decoration: none;
}

a:hover {
  outline: none;
  text-decoration: none;
  opacity: 1;
}

button {
  outline: medium none;
}

iframe {
  border: none;
}

hr {
  margin-top: 0;
  margin-bottom: 0;
  border: 0;
  border-top: 1px solid #eee;
}

pre {
  display: block;
  margin: 0 0 30px;
  padding: 9.5px;
  word-wrap: break-word;
  word-break: break-all;
  color: #333;
  border: 1px solid #ededed;
  border-radius: inherit;
  background-color: #f9f9f9;
  font-size: 13px;
  line-height: 1.42857143;
}

input {
  border: 2px solid #b7b7b7c9;
  border-radius: 10px;
  padding: 8px 10px;
  -webkit-box-shadow: inherit;
  box-shadow: inherit;
  /* min-height: 50px; */
}

input:focus {
  outline: none;
  -webkit-box-shadow: inherit;
  box-shadow: inherit;
}

textarea:focus {
  outline: none;
  -webkit-box-shadow: inherit;
  box-shadow: inherit;
}

select:focus {
  outline: none;
  -webkit-box-shadow: inherit;
  box-shadow: inherit;
}

ul {
  list-style-type: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 0 !important;
}

b {
  font-weight: 900;
}

strong {
  font-weight: 900;
}

.row {
  --bs-gutter-x: 30px;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-family: Oswald-regular;
}

h2,
h3 {
  font-family: Lato-Regular;
}

p {
  color: #000;
  font-size: 15px;
  margin: 0 !important;
  font-family: SourceSans3-Regular;
}

/* Start Header css */

.top-head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1% 5%;
  background: #fff;
}
.logo-div {
  width: 25%;
}
.top-search {
  width: 30%;
  padding: 0 3rem;
} 
.top-head-nav {
  width: 45%;
}

.t-nav ul {
  padding: 0;
  display: inline-flex;
}

.t-nav ul li {
  text-transform: uppercase;
  cursor: pointer;
  margin: 0 0.3rem;
  font-size: 12px;
}

.top-head .form-control {
  border-radius: 50px;
  padding: 0.2rem 1rem;
  font-size: 13px;
  border-right: unset;
}

.top-head .form-control:focus {
  box-shadow: unset;
  border-color: unset;
}

.top-head .input-group-text {
  padding: 0.2rem 0.8rem;
  font-size: 13px;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-left: unset !important;
  border-radius: 50px;
}

.t-nav ul li a {
  color: #000;
}

.t-nav span {
  margin-left: 0.8rem;
}

.t-nav {
  display: flex;
  justify-content: end;
}
.header {
  position: fixed;
  z-index: 999;
  width: 100%;
}
nav.navigation {
  padding: 1% 5%;
  background: var(--skyblue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 7px 7px -7px #9b9fa3;
}

.nav-list {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.headr-combo {
  float: right;
}

.brand {
  width: 260px;
}

.nav-list li {
  margin-left: 3rem;
  text-transform: uppercase;
  font-size: 14px;
  padding: 10px 0px;
}

.nav-list li a {
  color: #ffff;
}

/* .nav-list li.active a {
  color: #ffc748;
} */
.nav-list li .btn-success {
  color: #000;
  background-color: #ffffff;
  border-color: #ffffff;
}

.nav-list li .btn-check:focus+.btn-success,
.btn-success:focus {
  color: #000;
  background-color: #ffffff;
  border-color: #ffffff;
  box-shadow: unset !important;
}

.btn-check:active+.btn-success:focus,
.btn-check:checked+.btn-success:focus,
.btn-success.active:focus,
.btn-success:active:focus,
.show>.btn-success.dropdown-toggle:focus {
  box-shadow: unset;
}
.user{
  display: none;
}



/* start responsive side menu */

.hamburger {
  display: none;
}

.mob-logo {
  display: none;
}

/* End responsive side menu */




/* --------------- custum drop down start here ------------- */

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-list li {
  display: inline-block;
}

.sub-nav-links a {
  display: block;
  padding: 0.1rem 0.1rem;
  text-decoration: none;
  color: #333 !important;
  background-color: #fff;
}.sub-nav-links1 a {
  display: block;
  padding: 0.1rem 0.1rem;
  text-decoration: none;
  color: #333 !important;
  background-color: #fff;
}

/* Dropdown styles */
.sub-nav-links {
  width: 180px;
  display: none;
  position: absolute;
  top: 36px;
  left: 0;
  background-color: #fff;
  list-style: none;
  padding: 0;
  margin: 0;
  box-shadow: 0 0 7px rgba(0,0,0,0.1);
}.sub-nav-links1 {
  width: 180px;
  display: none;
  position: absolute;
  top: 70px;
  left: 170px;
  background-color: #fff;
  list-style: none;
  padding: 0;
  margin: 0;
  box-shadow: 0 0 7px rgba(0,0,0,0.1);
}

.nav-list li:hover .sub-nav-links {
  display: block;
}.sub-nav-links li:hover .sub-nav-links1 {
  display: block;
}

.sub-nav-links li {
  display: block;
  margin-left: 0;
}.sub-nav-links1 li {
  display: block;
  margin-left: 0;
}

/* .sub-nav-links a {
  padding: 10px;
  color: #333;
  text-decoration: none;
  background-color: #eee;
} */

/* --------------- custum drop down end here ------------- */

/* end Header css */

/* ----Start Banner Section ---- */

.slide-banner {
  width: 100%;
  margin-bottom: 1rem;
  position: relative;
}

.slide-banner h1 {
  position: absolute;
  color: #fff !important;
  font-weight: 700;
  font-family: cursive;
  font-size: 4rem;
  top: 50%;
  left: 35%;
}


.slide-banner img {
  width: 100% !important;
  height: 600px !important;
}

#banner-sec .slick-dots li button:before {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background: var(--skyblue);
  content: '';
}

#banner-sec .slick-dots li {
  width: 10px;
  height: 10px;
  margin: 0 4px;
  padding: 0;
}

/* ----End Banner Section ---- */
 
/* ---------- Start Card Slide ------------ */

.card-slide .slick-dots {
  bottom: -38px;
}
.card-slide .slick-dots li {
  margin: 0px 0px;
}
.card-slide .slick-nav{
  width: 32px;
  height: 32px;
  background: #0b0ba5;
  border-radius: 50px;
  position: absolute;
  z-index: 1;
  top: 6.5rem;
  left: -1.1rem;
}
.card-slide .fa-arrow-left:before, .card-slide .fa-arrow-right:before {
  content: "\f060";
  color: #fff;
  position: relative;
  top: 0.3rem;
  left: 0.6rem;
}
.card-slide .fa-arrow-right:before {
  content: "\f061" !important;
}
.card-slide .slick-nav.next-arrow.slick-arrow {
  position: relative;
  left: 68.5rem;
  top: -8rem;
}

.card-slide {
  padding: 1rem 0;
}
.cardslide {
  width: 98%;
  margin: auto;
  text-align: center;
  background: var(--skyblue);
  padding: 1rem 1rem;
}

/* ---------- End Card Slide ------------ */


/* --------Start Testimonial Section -------- */


.testi {
  background-image: url(../img/post/testibg.webp);
  padding: 60px 0px;
}

.testi-left {
  width: 65%;
  margin: auto;
  position: relative;
}

.tesi-con {
  position: absolute;
  top: 60px;
  left: 100px;
  color: #fff;
}

.tesi-con h2 {
  font-weight: 300;
  font-size: 22px;
}

.tesi-con h1 {
  font-weight: 600;
}

.tesi-con h3 {
  text-align: right;
  font-size: 32px;
}

.testi-right {
  position: relative;
}

.testi-right h1::before {
  content: '';
  background-color: #FF9451;
  position: absolute;
  padding: 5px 7px;
  margin-top: 3px;
  height: 15px;
  left: -20px;
  margin-left: 20px;
}

.testi-right h1 {
  font-size: 18px;
  margin-left: 20px;
}

.testi-right h2 {
  font-size: 30px;
  line-height: 40px;
  margin-top: 25px;
}

.testi hr {
  border-top: 2px solid #00000085;
  opacity: 0.5;
}

.testi-slide {
  background: #FCF4DA;
  padding: 30px 25px;
  font-size: 14px;
  color: #000000;
  font-weight: 400;
  line-height: 25px;

}

.testi-content {
  position: relative;
}

img.quot-l {
  position: absolute;
  width: 40px;
  top: -8px;
}

.testi-slide p {
  padding-left: 48px;

}

img.quot-r {
  right: -5px;
  bottom: -20px;
  top: auto;
}

.testi-person img {
  width: 100px;
  border-radius: 50%;
  height: 100px;
  position: relative;
  z-index: 999;
}

.testi-person::before {
  width: 100px;
  position: absolute;
  height: 100px;
  left: -4px;
  top: -2px;
  border-radius: 50%;
  content: '';
  background: #f77c41;
}
.testi-slider .slick-dots li {
  width:unset;
  height: unset;
  margin: unset;
}
.testi-slider .slick-dots {
  bottom: 0px;
}
.testi-slider .slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  margin: 0px 5px;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  content: '';
  text-align: center;
  background: var(--skyblue);
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.testi-person {
  display: flex;
  align-items: center;
  position: relative;
}

.testi-heading {
  padding-left: 10px;
}

.testi-heading h3 {
  font-size: 15px;
  color: #2D2B2B;
  margin: 0;
}

.testi-heading p {
  padding: 0;
  margin: 0;
  font-size: 10px;
  color: #777777;
}

/* -----------End Testimonial Section -------------- */

/* -----------Start Blog Section -------------- */

.book_btn img {
  width: 15px;
}

/* .book_now_btn a {
  color: #fff;
  display: flex;
  margin-top: 3px;
  text-decoration: none;
} */
.blog-heading {
  text-align: center;
  padding-bottom: 10px;
  margin: 0;
  font-size: 30px;
  color: #2D2B2B;
  padding-top: 25px;

}

.b-first-cart {
  width: 90%;
  margin: auto;
  margin-bottom: 1rem !important;
  padding: 0;
  border: none;
  position: relative;
  border-radius: 10px 10px 0 0;
  border-bottom: 5px solid #9F9F9F;
  box-shadow: 0px 0px 20px #00000029;
}

.card-content {
  padding: 15px 20px;
}

.card-content span {
  font-size: 15px;
}

.card-content h4 {
  font-size: 17px;
  color: #444242;
  padding: 15px 0 10px 0;
  border-bottom: 2px solid #9f9f9fda;
}

.card-content p {
  margin: 0;
  font-weight: 300;
  font-size: 15px;
  color: #707070;
  padding: 10px 0;
}

.date-box {
  text-align: center;
  width: 40%;
  display: flex;
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 12px;
}

.left-sec {
  width: 22%;
  padding: 5px;
  padding-top: 7px;
  color: #fff;
  background: var(--skyblue);
}

.right-sec {
  width: 50%;
  padding: 5px;
  background: #fff;
  color: #444242;
  border: 1px solid #e2e2e2cf;
}

.blogs .slick-dots li {
  height: 3px;
  width: 10px;
}
.blog-slider .slick-dots li button:before, .card-slider .slick-dots li button:before, .product-slider .slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  margin: 0px 5px;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  content: '';
  text-align: center;
  background: var(--skyblue);
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* -----------End Blog Section -------------- */


/* ------- Start Product Section --------- */
.product-slider .slick-dots {
  bottom: -39px;
}
.product-slider .slick-dots li {
  margin: 0 0px;
}
.product{
  padding-bottom: 2rem !important;
}
.produc-item .btn{
  margin-top: 0.5rem;
}
.product span{
  width: 100%;
  display: inline-flex;
  justify-content: end;
  margin-bottom: 2rem;
}
.product span a{
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  background-color: #104CBA;
  color: #fff;
  font-size: 1rem;
}
.produc-item {
 margin: auto;
 width: 95%;
}
.prod-head{
  padding: 1rem 0;
  width: 50%;
  margin: auto;
  text-align: center;
}
 /* ------- End Product Section --------- */


/* -------- Start Footer Section ------------ */


.footer {
  background-color: var(--skyblue);
  padding: 2rem 0;
  padding-bottom: 0px;
}



.f-phone {
  font-size: 25px !important;
  font-weight: 600 !important;
}
.foot-lable {
  color: #fff;
  font-weight: 600;
  font-size: 17px !important;
  margin-bottom: 0.5rem !important;
}

.footer ul li {
  list-style-type: none;
  font-size: 13px;
  line-height: 24px;
}

.footer ul li a {
  color: #ffffffe0;
  text-decoration: none;
}

.f-social {
  display: flex;
  justify-content: center;
}

.f-social li {
  margin: 0px 2px;
}

.footer-bottom {
  background-color: #000000;
  padding: 15px 100px;
  text-align: center;
  padding-left: 0px;
  margin-top: 2rem;
}

.footer-bottom p {
  margin-bottom: 0px;
  color: #fff;
  font-weight: 300;
  font-size: 13px;
}

.footer-bottom span a {
  color: var(--skyblue);
}
.f-social-icon{
  width: 35px;
    height: 35px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.f-social-icon i{
  color: #fff !important;
  font-size: x-large;
}
.f-items{
  padding-left: 0px !important;
}
.social-icon-footer{
  padding-left: 0px !important;
}
.nav-list{
  position: relative;
}
.dropdown-menu {
  width: 100%;
  top: 55px;
  left: 0;
}
.head-drop-lable{
  font-size: 20px;
}

/* ------ End Footer Section ------------ */